
$purple600:hsl(246, 80%, 60%);
$work-color:hsl(15, 100%, 70%);
$play-color:hsl(195, 74%, 62%);
$study-color:hsl(348, 100%, 68%);
$exercise:hsl(145, 58%, 55%);
$social:hsl(264, 64%, 52%);
$selfcare:hsl(43, 84%, 65%);

// Typography
@mixin card-title{
    font-size: 18px;
}
@mixin mobile-screen{
    display: flex;
}
@mixin desktop-screen{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
body{
    height: 100vh;
    // width: 100vw;
    font-family: "Rubik", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(226, 43%, 10%);
}

.main{
    width:320px;
    //     
}
.profile-card{
    height: 200px;
    // border:1px solid red;
    border-radius: 1rem;
    background-color: hsl(235, 46%, 20%);
    color: hsl(235, 45%, 61%);
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    .btn-div{
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 100%;  
        
        p:hover{
            color: white;
            cursor: pointer;
        }
    }

}
.profile{
    background-color: $purple600;
    border-radius: 1rem;
    padding: 1rem ;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    .img{
        width: 70px;
    }
    img{
        width: 100%;
        border: 3px solid white;
        border-radius: 50%;
    }
}

.card{
    width: 320px;
    height: 150px;
    border: 1px solid black;
    border-radius: 1rem;
    // padding: 1rem 0.5rem;
    margin-bottom: 1rem;    
    
    background-repeat: no-repeat;
    background-position: top right;  
    display: flex;   
    flex-direction: column;
    justify-content: end;
    div{
        background-color: hsl(235, 46%, 20%);
        color: white;
        border-radius: 1rem;
        padding: 0 5px;   
    }

    .card-title{
        font-size: 18px;
        font-weight: 400;
        // border: 1px dotted white;
    }
    .child-card{
        // line-height: 0.8rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        // border: 1px solid white;
    }
}
.bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5rem;
    // margin-top: -1.1rem;
    // border: 1px dotted green;
    .current-p{
        font-size: 40px;
        font-weight: 100;
        // border: 1px solid yellow;
        margin: -2px 0;
    }
    .previous-p{
        color: hsl(236, 100%, 87%);
    }
}

#work{
    background-color: $work-color;
    background-image: url('../images/icon-work.svg');
}
#Play{
    background-color: $play-color;
    background-image: url('../images/icon-play.svg');
}
#Study{
    background-color: $study-color;
    background-image: url('../images/icon-study.svg');
}
#Exercise{
    background-color: $exercise;
    background-image: url('../images/icon-exercise.svg');
}
#social{
    background-color: $social;
    background-image: url('../images/icon-social.svg');
}
#self-care{
    background-color: $selfcare;
    background-image: url('../images/icon-self-care.svg');
}


@media (min-width:800px) {
    .main{
        display: grid;
        grid-template-columns: repeat(4, 200px);
        grid-template-rows: repeat(2, 200px);
        justify-content: center;
        // align-items: center;
        
        row-gap: 1rem;
        column-gap: 1rem;
    }
    .profile-card{
        height: auto;
        grid-row-start: 1;
        grid-row-end: 3;
        .btn-div{
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            padding: 0 1rem;
            line-height: 0.2rem;
        }
        .profile{
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            padding: 2rem 1rem;
            .name{
                line-height: 1.8rem;
                margin-bottom: -1.8rem;
                // padding-bottom: -5rem;
            }

            #name{
                font-size: 1.8rem;
                font-weight: 300;
            }
        }
    }
    .card{
        width: auto;
        height: auto;

        .bottom{
            flex-direction: column;
            align-items: flex-start;
            // justify-content: flex-start;
            gap: 1rem;
            line-height: 0.5rem;

            .current-p{
                // border: 1px solid yellow;
            }
        }
    }
    
}